.wysiwyg {
    width: 100%;
    max-width: 1000px;
    height: 100%;
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 0;
    border: 1px solid gray;
    border-radius: 4px;
}

.editor-menu {
    display: flex;
    background-color: var(--secondary-container);
    gap: 0;
}

.editor-menu button.editor-button {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    color: var(--on-secondary-container);
    margin: 0;
    block-size: 2rem;
    inline-size: 2rem;
    min-inline-size: initial;

    & > i {
        font-size: 20px;
    }
}

.editor-menu button.editor-button:hover {
    box-shadow: none;
}

.wysiwyg > div:focus-visible {
    border-color: transparent !important;
}

.editor img {
    max-width: 100%;
}

.editor table {
    border-spacing: 0;
    border: 1px solid #000;
}

.editor table th, .editor table td {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.editor table th:last-of-type, .editor table td:last-of-type {
    border-right: none;
}

.editor table tr:last-of-type td {
    border-bottom: none;
}

.group-separator {
    height: 20px;
    width: 1px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: gray;
}